
	body {
          background-color: #e6e6e6 /*#C5D3D3*/ /*#B4D6B4*/;
          color: #031B3F; 
          font-family: arial, helvetica, sans-serif; 
          padding:15px; 
          line-height:1.4em
				}
	p { padding: 2em;
               }
       
img.photo {max-width:1100px; width:100%;}
    
img.photo {max-width:1100px; width:100%;}

      